@model IEnumerable<FrontEnd.Models.MedicamentoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoMedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreMedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dosis)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.CodigoMedicamento)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.NombreMedicamento)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dosis)
                </td>
           
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CodigoMedicamento }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CodigoMedicamento }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CodigoMedicamento })
            </td>
        </tr>
}
    </tbody>
</table>
